# Movies_api

In [ ]:
import pandas as pd
import requests
from tqdm import tqdm

In [ ]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [ ]:
temp_data = pd.DataFrame(response.json()['results'])[['id','original_title','release_date','overview','popularity','vote_average','vote_count']]

In [ ]:
temp_data.head()

In [ ]:
df = pd.DataFrame()

In [ ]:
df

In [ ]:
for i in range (1, 548):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_data = pd.DataFrame(response.json()['results'])[['id','original_title','release_date','overview','popularity','vote_average','vote_count']]
    df = df.append(temp_data,ignore_index=True)

In [ ]:
for i in tqdm(range(1, 548)):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_data = pd.DataFrame(response.json()['results'])[['id','original_title','release_date','overview','popularity','vote_average','vote_count']]
    df = df.append(temp_data, ignore_index=True)

print("Data extraction complete.")

In [ ]:
df.to_csv('movies.csv', index = False)

# Products

In [1]:
import pandas as pd
import requests

In [16]:
response = requests.get('https://dummyjson.com/products')

In [17]:
response

In [19]:
pd.DataFrame(response.json()['products'])[['id','title','description','price','discountPercentage','rating','stock','brand']]

,id,title,description,price,discountPercentage,rating,stock,brand
0,1,iPhone 9,An apple mobile which is nothing like apple,549,12.96,4.69,94,Apple
1,2,iPhone X,"SIM-Free, Model A19211 6.5-inch Super Retina H...",899,17.94,4.44,34,Apple
2,3,Samsung Universe 9,Samsung's new variant which goes beyond Galaxy...,1249,15.46,4.09,36,Samsung
3,4,OPPOF19,OPPO F19 is officially announced on April 2021.,280,17.91,4.30,123,OPPO
4,5,Huawei P30,Huawei’s re-badged P30 Pro New Edition was off...,499,10.58,4.09,32,Huawei
5,6,MacBook Pro,MacBook Pro 2021 with mini-LED display may lau...,1749,11.02,4.57,83,Apple
6,7,Samsung Galaxy Book,Samsung Galaxy Book S (2020) Laptop With Intel...,1499,4.15,4.25,50,Samsung
7,8,Microsoft Surface Laptop 4,Style and speed. Stand out on HD video calls b...,1499,10.23,4.43,68,Microsoft Surface
8,9,Infinix INBOOK,Infinix Inbook X1 Ci3 10th 8GB 256GB 14 Win10 ...,1099,11.83,4.54,96,Infinix
9,10,HP Pavilion 15-DK1056WM,HP Pavilion 15-DK1056WM Gaming Laptop 10th Gen...,1099,6.18,4.43,89,HP Pavilion
10,11,perfume Oil,"Mega Discount, Impression of Acqua Di Gio by G...",13,8.40,4.26,65,Impression of Acqua Di Gio
11,12,Brown Perfume,Royal_Mirage Sport Brown Perfume for Men & Wom...,40,15.66,4.00,52,Royal_Mirage
12,13,Fog Scent Xpressio Perfume,Product details of Best Fog Scent Xpressio Per...,13,8.14,4.59,61,Fog Scent Xpressio
13,14,Non-Alcoholic Concentrated Perfume Oil,Original Al Munakh® by Mahal Al Musk | Our Imp...,120,15.60,4.21,114,Al Munakh
14,15,Eau De Perfume Spray,Genuine Al-Rehab spray perfume from UAE/Saudi...,30,10.99,4.70,105,Lord - Al-Rehab
15,16,Hyaluronic Acid Serum,L'OrÃ©al Paris introduces Hyaluron Expert Repl...,19,13.31,4.83,110,L'Oreal Paris
16,17,Tree Oil 30ml,"Tea tree oil contains a number of compounds, i...",12,4.09,4.52,78,Hemani Tea
17,18,Oil Free Moisturizer 100ml,Dermive Oil Free Moisturizer with SPF 20 is sp...,40,13.10,4.56,88,Dermive
18,19,Skin Beauty Serum.,Product name: rorec collagen hyaluronic acid w...,46,10.68,4.42,54,ROREC White Rice
19,20,Freckle Treatment Cream- 15gm,Fair & Clear is Pakistan's only pure Freckle c...,70,16.99,4.06,140,Fair & Clear
20,21,- Daal Masoor 500 grams,Fine quality Branded Product Keep in a cool an...,20,4.81,4.44,133,Saaf & Khaas
21,22,Elbow Macaroni - 400 gm,Product details of Bake Parlor Big Elbow Macar...,14,15.58,4.57,146,Bake Parlor Big
22,23,Orange Essence Food Flavou,Specifications of Orange Essence Food Flavour ...,14,8.04,4.85,26,Baking Food Items
23,24,cereals muesli fruit nuts,original fauji cereal muesli 250gm box pack or...,46,16.80,4.94,113,fauji
24,25,Gulab Powder 50 Gram,Dry Rose Flower Powder Gulab Powder 50 Gram • ...,70,13.58,4.87,47,Dry Rose
25,26,Plant Hanger For Home,Boho Decor Plant Hanger For Home Wall Decorati...,41,17.86,4.08,131,Boho Decor
26,27,Flying Wooden Bird,Package Include 6 Birds with Adhesive Tape Sha...,51,15.58,4.41,17,Flying Wooden
27,28,3D Embellishment Art Lamp,3D led lamp sticker Wall sticker 3d wall art l...,20,16.49,4.82,54,LED Lights
28,29,Handcraft Chinese style,Handcraft Chinese style art luxury palace hote...,60,15.34,4.44,7,luxury palace
29,30,Key Holder,Attractive DesignMetallic materialFour key hoo...,30,2.92,4.92,54,Golden

In [20]:
df = pd.DataFrame()

In [21]:
df

Empty DataFrame
Columns: []
Index: []

In [24]:
for i in range(1,101):
    response = requests.get('https://dummyjson.com/products')
    temp_data = pd.DataFrame(response.json()['products'])[['id','title','description','price','discountPercentage','rating','stock','brand']]
    df = df.append(temp_data,ignore_index = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\1013199701.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)

In [25]:
df.to_csv('smartphones.csv',index=False)

# Properties

In [26]:
import pandas as pd
import requests

In [27]:
response = requests.get('https://cloudapi.jagahonline.com/api/featured_projects')
response

In [32]:
temp_data = pd.DataFrame(response.json()['data'])[['id','title','builder_id','description','country_id','price_txt']]

In [33]:
temp_data

,id,title,builder_id,description,country_id,price_txt
0,8,Index Industrial Park,3,Index Industrial Park is located in North West...,1,3.0 Crore
1,7,Kings Scenic Mall Sukkur,1,Kings Scenic Mall is the first and only Centra...,1,51.0 Thousand
2,6,Qaswaa Residency Phase 3,2,"With 150, 166, 200, 266, and 400 sq. yd. resid...",1,60.75 Lakh
3,5,Kings Paradise Apartments,1,"A gateway to a lifestyle, you have been lookin...",1,21.95 Lakh
4,4,Kings Regency,1,"Kings Regency is offering 3, 4, and 5-bedroom ...",1,80.5 Lakh
5,3,Kings Plaza,1,"A 4-story building with 2,3, and 4-room apartm...",1,29.6 Lakh
6,2,King's Al Ahmed Town,1,"120 sq. yd. and 200 sq. yd. plots, as well as ...",1,28.49 Lakh
7,1,King's Comforts,1,"With luxurious 4 and 5-room apartments, Kings ...",1,1.14 Crore

In [34]:
temp_data.to_csv('properties.csv',index=False)

# Airlines Data

In [36]:
import pandas as pd
import requests

In [37]:
response = requests.get('https://api.instantwebtools.net/v1/airlines')
response

In [41]:
temp_data= pd.DataFrame(response.json())[['id','name','country','slogan','head_quaters','website','established']]
temp_data

,id,name,country,slogan,head_quaters,website,established
0,1.0,Quatar Airways,Quatar,Going Places Together,"Qatar Airways Towers, Doha, Qatar",www.qatarairways.com,1994
1,2.0,Singapore Airlines,Singapore,A Great Way to Fly,"Airline House, 25 Airline Road, Singapore 819829",www.singaporeair.com,1947
2,3.0,Cathay Pacific,Hong Kong,Move Beyond,"Cathay City, Hong Kong International Airport, ...",www.cathaypacific.com,1946
3,4.0,Emirates,Dubai,From Dubai to destinations around the world.,"Garhoud, Dubai, United Arab Emirates",www.emirates.com/,1985
4,5.0,Eva Air,Taiwan,"Sharing the World, Flying Together","376, Hsin-Nan Rd., Sec. 1, Luzhu, Taoyuan City...",www.evaair.com,1989
...,...,...,...,...,...,...,...
21676,281429976.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990
21677,974140823.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990
21678,615397936.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990
21679,131218630.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990
21680,297482425.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990

In [48]:
temp_data.shape

(21681, 7)

In [44]:
temp_data.to_csv('Airlines_data.csv',index=False)

In [46]:
temp_data[temp_data.isnull()]

       id name country slogan head_quaters website established
0     NaN  NaN     NaN    NaN          NaN     NaN         NaN
1     NaN  NaN     NaN    NaN          NaN     NaN         NaN
2     NaN  NaN     NaN    NaN          NaN     NaN         NaN
3     NaN  NaN     NaN    NaN          NaN     NaN         NaN
4     NaN  NaN     NaN    NaN          NaN     NaN         NaN
...    ..  ...     ...    ...          ...     ...         ...
21676 NaN  NaN     NaN    NaN          NaN     NaN         NaN
21677 NaN  NaN     NaN    NaN          NaN     NaN         NaN
21678 NaN  NaN     NaN    NaN          NaN     NaN         NaN
21679 NaN  NaN     NaN    NaN          NaN     NaN         NaN
21680 NaN  NaN     NaN    NaN          NaN     NaN         NaN

[21681 rows x 7 columns]

In [51]:
temp_data.dropna(inplace=True)

In [56]:
Airline_clean_data = temp_data

In [57]:
Airline_clean_data

,id,name,country,slogan,head_quaters,website,established
0,1.0,Quatar Airways,Quatar,Going Places Together,"Qatar Airways Towers, Doha, Qatar",www.qatarairways.com,1994
1,2.0,Singapore Airlines,Singapore,A Great Way to Fly,"Airline House, 25 Airline Road, Singapore 819829",www.singaporeair.com,1947
2,3.0,Cathay Pacific,Hong Kong,Move Beyond,"Cathay City, Hong Kong International Airport, ...",www.cathaypacific.com,1946
3,4.0,Emirates,Dubai,From Dubai to destinations around the world.,"Garhoud, Dubai, United Arab Emirates",www.emirates.com/,1985
4,5.0,Eva Air,Taiwan,"Sharing the World, Flying Together","376, Hsin-Nan Rd., Sec. 1, Luzhu, Taoyuan City...",www.evaair.com,1989
...,...,...,...,...,...,...,...
21676,281429976.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990
21677,974140823.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990
21678,615397936.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990
21679,131218630.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990
21680,297482425.0,Indian AirLine,India,Slogan,"Pune, Maharashtra",WWW.indianairline.com,1990

In [58]:
Airline_clean_data.to_csv('Airline_data.csv',index=False)

# Bien' ici'

In [60]:
import pandas as pd
import requests

In [65]:
response = requests.get('https://www.bienici.com/realEstateAds.json?filters=%7B%22size%22%3A24%2C%22from%22%3A0%2C%22showAllModels%22%3Afalse%2C%22filterType%22%3A%22buy%22%2C%22propertyType%22%3A%5B%22house%22%2C%22flat%22%5D%2C%22page%22%3A1%2C%22sortBy%22%3A%22relevance%22%2C%22sortOrder%22%3A%22desc%22%2C%22onTheMarket%22%3A%5Btrue%5D%2C%22limit%22%3A%22_jftH_gxP%3Fmwy%40~bCV%3F%7Cuy%40%22%2C%22newProperty%22%3Afalse%2C%22blurInfoType%22%3A%5B%22disk%22%2C%22exact%22%5D%2C%22zoneIdsByTypes%22%3A%7B%22zoneIds%22%3A%5B%22-58617%22%5D%7D%7D&extensionType=extendedIfNoResult&access_token=dtIrxP7GWLGlRFSSpkPc4mav43c9pJJz2IRjfCTtG30%3D%3A6422b4bd33c6fa00b6eb8822&id=6422b4bd33c6fa00b6eb8822')

In [66]:
response

In [70]:
temp_data = pd.DataFrame(response.json()['realEstateAds'])[['city','postalCode','propertyType','description']]

In [71]:
temp_data

,city,postalCode,propertyType,description
0,La Madeleine,59110,flat,LA MADELEINE - Botanique CENTURY 21 Apolite à...
1,La Madeleine,59110,flat,Appartement T2 - LA MADELEINE - En exclusivité...
2,La Madeleine,59110,flat,EXCLUSIVITÉ - QUARTIER GRAND BOULEVARD<br>À ve...
3,La Madeleine,59110,flat,LA MADELEINE - Romarin CENTURY 21 Apolite vou...
4,La Madeleine,59110,flat,"Dans le quartier du centre-ville, à la limite ..."
5,La Madeleine,59110,flat,Situation exceptionnelle à 2 pas du tram pour ...
6,La Madeleine,59110,flat,Vacherand immobilier vous propose à la vente e...
7,La Madeleine,59110,house,"Nouveauté et en exclusivité, grande maison de ..."
8,La Madeleine,59110,flat,"Nouveauté exclusive : Avenue Saint Maur ,agréa..."
9,La Madeleine,59110,flat,"""ATTENDRE C’ EST SOUVENT MANQUER L’ OCCASION ""..."
10,La Madeleine,59110,house,Je vous invite à venir découvrir ce superbe lo...
11,La Madeleine,59110,flat,"Exclusivité Immo de France, contactez Sarah FR..."
12,La Madeleine,59110,flat,"Joli studio de 19.57m² très lumineux, situé en..."
13,La Madeleine,59110,flat,Nous vous proposons de découvrir ce bel appart...
14,La Madeleine,59110,flat,A la Madeleine / St Maur. Résidence sécurisée ...
15,La Madeleine,59110,flat,Une exclusivité Sergic La Madeleine !\nVenez d...
16,La Madeleine,59110,flat,"iad France - Arnaud Menuge (<span class=""impor..."
17,La Madeleine,59110,flat,iad France - Virginie Taboulet-Bouis (<span cl...
18,La Madeleine,59110,house,Secteur Romarin dans une rue recherchée vous t...
19,La Madeleine,59110,flat,"Au pied de l'arrêt de tramway Botanique, décou..."
20,La Madeleine,59110,flat,"TRAM BUISSON, à deux minutes à pied, dans une ..."
21,La Madeleine,59110,flat,"Située dans une commune limitrophe de Lille, l..."
22,La Madeleine,59110,flat,LA MADELEINE - CENTRE<br>A 6 min à pied du tra...
23,La Madeleine,59110,house,"iad France - Michelle Milazzo (<span class=""im..."

In [72]:
df = pd.DataFrame()

In [73]:
df

Empty DataFrame
Columns: []
Index: []

In [85]:
for i in range (1,4):
    response = requests.get('https://www.bienici.com/realEstateAds.json?filters=%7B%22size%22%3A24%2C%22from%22%3A0%2C%22showAllModels%22%3Afalse%2C%22filterType%22%3A%22buy%22%2C%22propertyType%22%3A%5B%22house%22%2C%22flat%22%5D%2C%22page%22%3A1%2C%22sortBy%22%3A%22relevance%22%2C%22sortOrder%22%3A%22desc%22%2C%22onTheMarket%22%3A%5Btrue%5D%2C%22limit%22%3A%22_jftH_gxP%3Fmwy%40~bCV%3F%7Cuy%40%22%2C%22newProperty%22%3Afalse%2C%22blurInfoType%22%3A%5B%22disk%22%2C%22exact%22%5D%2C%22zoneIdsByTypes%22%3A%7B%22zoneIds%22%3A%5B%22-58617%22%5D%7D%7D&extensionType=extendedIfNoResult&access_token=dtIrxP7GWLGlRFSSpkPc4mav43c9pJJz2IRjfCTtG30%3D%3A6422b4bd33c6fa00b6eb8822&id=6422b4bd33c6fa00b6eb8822'.format(i))
    temp_data = pd.DataFrame(response.json()['realEstateAds'])[['city','postalCode','propertyType','description']]
    df = df.append(temp_data,ignore_index = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_23964\11605579.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\11605579.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_23964\11605579.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_data,ignore_index = True)

In [86]:
df

,city,postalCode,propertyType,description
0,La Madeleine,59110,flat,LA MADELEINE - Botanique CENTURY 21 Apolite à...
1,La Madeleine,59110,flat,Appartement T2 - LA MADELEINE - En exclusivité...
2,La Madeleine,59110,flat,EXCLUSIVITÉ - QUARTIER GRAND BOULEVARD<br>À ve...
3,La Madeleine,59110,flat,LA MADELEINE - Romarin CENTURY 21 Apolite vou...
4,La Madeleine,59110,flat,"Dans le quartier du centre-ville, à la limite ..."
...,...,...,...,...
67,La Madeleine,59110,flat,"Au pied de l'arrêt de tramway Botanique, décou..."
68,La Madeleine,59110,flat,"TRAM BUISSON, à deux minutes à pied, dans une ..."
69,La Madeleine,59110,flat,"Située dans une commune limitrophe de Lille, l..."
70,La Madeleine,59110,flat,LA MADELEINE - CENTRE<br>A 6 min à pied du tra...
71,La Madeleine,59110,house,"iad France - Michelle Milazzo (<span class=""im..."

In [87]:
df.to_csv('peoperties.csv',index=False)

# Wallmart

In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get("https://api.bluecartapi.com/request?api_key=demo&type=product&item_id=782866746")

In [34]:
pd.DataFrame(response.json())

,request_info,request_parameters,request_metadata,product,location_info
success,True,NaN,NaN,NaN,NaN
demo,True,NaN,NaN,NaN,NaN
type,NaN,product,NaN,Fitness Trackers,NaN
item_id,NaN,782866746,NaN,782866746,NaN
walmart_url,NaN,NaN,https://www.walmart.com/ip/782866746?selected=...,NaN,NaN
brand,NaN,NaN,NaN,Fitbit,NaN
manufacturer,NaN,NaN,NaN,Fitbit,NaN
link,NaN,NaN,NaN,https://www.walmart.com/ip/Fitbit-Inspire-2-Fi...,NaN
title,NaN,NaN,NaN,Fitbit Inspire 2 Fitness Tracker - Black,NaN
upc,NaN,NaN,NaN,810038852775,NaN
product_id,NaN,NaN,NaN,FB418BKBK,NaN
item_number,NaN,NaN,NaN,6D72TYYR135R,NaN
description,NaN,NaN,NaN,Make healthy a habit with Fitbit Inspire 2 and...,NaN
description_html,NaN,NaN,NaN,<p>Make healthy a habit with Fitbit Inspire 2 ...,NaN
description_full,NaN,NaN,NaN,Make healthy a habit with Fitbit Inspire 2 and...,NaN
description_full_html,NaN,NaN,NaN,<p>Make healthy a habit with Fitbit Inspire 2 ...,NaN
model,NaN,NaN,NaN,FB418BKBK,NaN
ratings_total,NaN,NaN,NaN,431,NaN
protection_plans,NaN,NaN,NaN,[{'title': 'Walmart Protection Plan by Allstat...,NaN
home_service_plans,NaN,NaN,NaN,[{'title': 'Expert Help - Premium Tech Support...,NaN
rating,NaN,NaN,NaN,4.1,NaN
main_image,NaN,NaN,NaN,{'link': 'https://i5.walmartimages.com/asr/300...,NaN
images,NaN,NaN,NaN,[{'link': 'https://i5.walmartimages.com/asr/30...,NaN
breadcrumbs,NaN,NaN,NaN,"[{'name': 'Electronics', 'link': 'https://www....",NaN
specifications,NaN,NaN,NaN,"[{'name': 'Features', 'value': 'Water-Resistan...",NaN
buybox_winner,NaN,NaN,NaN,"{'price': 56, 'was_price': 69.45, 'currency_sy...",NaN
color,NaN,NaN,NaN,Black,NaN
dimensions,NaN,NaN,NaN,0.50 x 0.70 x 0.50 Inches,NaN
variants,NaN,NaN,NaN,"[{'item_id': '782866746', 'product_id': '6D72T...",NaN
city,NaN,NaN,NaN,NaN,Bentonville
state,NaN,NaN,NaN,NaN,AR
zipcode,NaN,NaN,NaN,NaN,72712
store_id,NaN,NaN,NaN,NaN,3164